In [17]:
# Importar las librerias que necesitar√©
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df0 = pd.read_csv('bk.txt', sep='\s+')

In [16]:
# Encabezado
df0.head()

        FECHA PRECIP  EVAP  TMAX  TMIN
0  01/07/1974      0   7.3    35    22
1  02/07/1974      0  10.5    34  22.5
2  03/07/1974      0  13.6  31.5    21
3  04/07/1974      0  10.7    41    28
4  05/07/1974      0  10.9    35    28

In [18]:
# final
df0.tail()

                                       FECHA PRECIP  EVAP  TMAX  TMIN
6631                              28/07/2011      0     7  33.5  24.5
6632                              29/07/2011      0   7.6    33  25.5
6633                              30/07/2011      0   8.1    36  25.5
6634                              31/07/2011      0  Nulo  Nulo  27.5
6635  --------------------------------------    NaN   NaN   NaN   NaN

In [19]:
# Tipos de variables
df0.dtypes

FECHA     object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [20]:
df0 = pd.read_csv("bk.txt", sep="\s+", skiprows=20, skipfooter=1, engine='python', 
                  names=['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin'])

In [21]:
df0['NFecha'] =  pd.to_datetime(df0['Fecha'], format='%d/%m/%Y')

In [22]:
df0.dtypes

Fecha             object
Precip            object
Evap              object
Tmax              object
Tmin              object
NFecha    datetime64[ns]
dtype: object

df0.head()

In [23]:
df0.tail()

           Fecha Precip  Evap  Tmax  Tmin     NFecha
6611  27/07/2011      0   9.4    34    24 2011-07-27
6612  28/07/2011      0     7  33.5  24.5 2011-07-28
6613  29/07/2011      0   7.6    33  25.5 2011-07-29
6614  30/07/2011      0   8.1    36  25.5 2011-07-30
6615  31/07/2011      0  Nulo  Nulo  27.5 2011-07-31

In [24]:
df0.dtypes

Fecha             object
Precip            object
Evap              object
Tmax              object
Tmin              object
NFecha    datetime64[ns]
dtype: object

In [28]:
df0[['Precip','Evap','Tmax','Tmin']] = df0[['Precip','Evap','Tmax','Tmin']] \
.apply(pd.to_numeric, errors='coerce')
df0 = df0.drop('Fecha', 1)
df0.dtypes

Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
NFecha    datetime64[ns]
dtype: object

In [29]:
df0.mean()

Precip     0.352833
Evap       6.087558
Tmax      27.095237
Tmin      13.932766
dtype: float64

In [30]:
df0.std()

Precip    2.769601
Evap      2.710722
Tmax      5.784160
Tmin      7.033952
dtype: float64

In [31]:
df0.median()

Precip     0.0
Evap       6.0
Tmax      27.0
Tmin      12.5
dtype: float64

In [32]:
df0.max()

Precip                     70
Evap                     17.7
Tmax                     48.5
Tmin                       30
NFecha    2011-07-31 00:00:00
dtype: object

In [33]:
#Valores minimos de cada columna.
df0.min()

Precip                      0
Evap                      0.1
Tmax                     10.5
Tmin                       -4
NFecha    1974-07-20 00:00:00
dtype: object

In [34]:

#Resumen estadistico de los datos.
df0.describe()

            Precip         Evap         Tmax         Tmin
count  6600.000000  4702.000000  6466.000000  6467.000000
mean      0.352833     6.087558    27.095237    13.932766
std       2.769601     2.710722     5.784160     7.033952
min       0.000000     0.100000    10.500000    -4.000000
25%       0.000000     4.100000    22.000000     8.000000
50%       0.000000     6.000000    27.000000    12.500000
75%       0.000000     7.900000    32.000000    20.000000
max      70.000000    17.700000    48.500000    30.000000

In [35]:
df0.index

RangeIndex(start=0, stop=6616, step=1)

In [36]:
df0.columns

Index(['Precip', 'Evap', 'Tmax', 'Tmin', 'NFecha'], dtype='object')

In [37]:

#Juntamos las columnas con filas de datos.
df1 = pd.melt(df0)
df1.head()

  variable value
0   Precip     0
1   Precip     0
2   Precip     0
3   Precip     0
4   Precip     0

In [39]:
# Crear columnas con A√±o y Mes extra√≠dos de la columna fecha. 
df0['A√±o'] = df0['NFecha'].dt.year
df0['Mes'] = df0['NFecha'].dt.month

df0.head(), df0.tail()

(   Precip  Evap  Tmax  Tmin     NFecha   A√±o  Mes
 0     0.0   NaN  31.5  24.0 1974-07-20  1974    7
 1     0.0   8.8  32.0  27.0 1974-07-21  1974    7
 2     0.0   7.2  32.0  27.0 1974-07-22  1974    7
 3     0.0   8.7  33.0  26.0 1974-07-23  1974    7
 4     0.0   7.5  32.5  27.0 1974-07-24  1974    7,
       Precip  Evap  Tmax  Tmin     NFecha   A√±o  Mes
 6611     0.0   9.4  34.0  24.0 2011-07-27  2011    7
 6612     0.0   7.0  33.5  24.5 2011-07-28  2011    7
 6613     0.0   7.6  33.0  25.5 2011-07-29  2011    7
 6614     0.0   8.1  36.0  25.5 2011-07-30  2011    7
 6615     0.0   NaN   NaN  27.5 2011-07-31  2011    7)

In [40]:
# N√∫mero de a√±os distintos df0['A√±o'].unique(),
NumA = len(df0['A√±o'].unique())
print(NumA, "a√±os de datos")

24 a√±os de datos

In [42]:
#Arreglo paraencontrar los el calculo de las precipitaciones.
total=0.0
for i in range(12):
    PrecipitacionMens = df0['Precip'][df0['Mes']==[i+1]].sum()/NumA
    total=total+PrecipitacionMens
    print("Mes", i+1,":", np.round(PrecipitacionMens, decimals=2), "mm", ", Acumulada:", 
          np.round(total, decimals=2), "mm")

Mes 1 : 7.51 mm , Acumulada: 7.51 mm
Mes 2 : 5.17 mm , Acumulada: 12.68 mm
Mes 3 : 1.75 mm , Acumulada: 14.42 mm
Mes 4 : 0.67 mm , Acumulada: 15.09 mm
Mes 5 : 0.29 mm , Acumulada: 15.38 mm
Mes 6 : 1.21 mm , Acumulada: 16.59 mm
Mes 7 : 11.6 mm , Acumulada: 28.2 mm
Mes 8 : 27.81 mm , Acumulada: 56.0 mm
Mes 9 : 16.18 mm , Acumulada: 72.18 mm
Mes 10 : 7.98 mm , Acumulada: 80.17 mm
Mes 11 : 3.58 mm , Acumulada: 83.74 mm
Mes 12 : 13.29 mm , Acumulada: 97.03 mm

In [45]:
# Calcular la temperatura promedio Tmin (meses fr√≠os) y Tmax (meses c√°lidos)

for i in range(12):
    TminPromMensual = df0[df0['Mes']==i+1]['Tmin'].sum()/df0[df0['Mes'] ==i+1]['Tmin'].count()
    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "¬∫C")
  
print(" ")
    
for i in range(12):
    TmaxPromMensual = df0[df0['Mes']==i+1]['Tmax'].sum()/df0[df0['Mes'] ==i+1]['Tmax'].count()
    print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "¬∫C")

Tmin Mes 1 : 6.59 ¬∫C
Tmin Mes 2 : 7.17 ¬∫C
Tmin Mes 3 : 8.59 ¬∫C
Tmin Mes 4 : 10.7 ¬∫C
Tmin Mes 5 : 13.23 ¬∫C
Tmin Mes 6 : 18.23 ¬∫C
Tmin Mes 7 : 23.7 ¬∫C
Tmin Mes 8 : 23.79 ¬∫C
Tmin Mes 9 : 21.98 ¬∫C
Tmin Mes 10 : 15.9 ¬∫C
Tmin Mes 11 : 9.86 ¬∫C
Tmin Mes 12 : 6.89 ¬∫C

Tmax Mes 1 : 19.7 ¬∫C
Tmax Mes 2 : 21.46 ¬∫C
Tmax Mes 3 : 22.93 ¬∫C
Tmax Mes 4 : 25.52 ¬∫C
Tmax Mes 5 : 28.09 ¬∫C
Tmax Mes 6 : 31.99 ¬∫C
Tmax Mes 7 : 33.02 ¬∫C
Tmax Mes 8 : 33.83 ¬∫C
Tmax Mes 9 : 33.13 ¬∫C
Tmax Mes 10 : 29.52 ¬∫C
Tmax Mes 11 : 24.32 ¬∫C
Tmax Mes 12 : 20.9 ¬∫C

In [46]:
# A√±os h√∫medos y a√±os secos
# A√±os incompletos 1981, 1998 - se excluyen
for i in range(1982,1997):
    PrecipAnual = df0['Precip'][df0['A√±o']==[i+1]].sum()
    print("A√±o", i+1,":", PrecipAnual, "mm")

A√±o 1983 : 214.2 mm
A√±o 1984 : 263.9 mm
A√±o 1985 : 53.0 mm
A√±o 1986 : 9.0 mm
A√±o 1987 : 0 mm
A√±o 1988 : 92.0 mm
A√±o 1989 : 34.0 mm
A√±o 1990 : 159.0 mm
A√±o 1991 : 165.0 mm
A√±o 1992 : 279.0 mm
A√±o 1993 : 148.0 mm
A√±o 1994 : 0.0 mm
A√±o 1995 : 0 mm
A√±o 1996 : 0 mm
A√±o 1997 : 0 mm

In [47]:
# N√∫mero de datos faltantes por a√±o
for i in range(1982,1997):
    NumDatos= df0['Precip'][df0['A√±o']==[i+1]].count()
    print("A√±o:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2), "%")

A√±o: 1983 Num Datos 334 ,  0.92 %
A√±o: 1984 Num Datos 366 ,  1.0 %
A√±o: 1985 Num Datos 365 ,  1.0 %
A√±o: 1986 Num Datos 207 ,  0.57 %
A√±o: 1987 Num Datos 0 ,  0.0 %
A√±o: 1988 Num Datos 244 ,  0.67 %
A√±o: 1989 Num Datos 233 ,  0.64 %
A√±o: 1990 Num Datos 273 ,  0.75 %
A√±o: 1991 Num Datos 365 ,  1.0 %
A√±o: 1992 Num Datos 306 ,  0.84 %
A√±o: 1993 Num Datos 355 ,  0.97 %
A√±o: 1994 Num Datos 0 ,  0.0 %
A√±o: 1995 Num Datos 0 ,  0.0 %
A√±o: 1996 Num Datos 0 ,  0.0 %
A√±o: 1997 Num Datos 0 ,  0.0 %

In [ ]:
Actividad tres
Fis√≠ca computacional
Romualdo Maueda Garc√≠a
18 de mayo de 2019
1.
Resumen
A continuaci√≥n se describen las acciones que se tuvieron que ejecutar para la elaboraci√≥n
de la actividad numero tres, que consiste en el manejo del lenguaje de programaci√≥n Python
y las librer√≠as que fue necesario importar en el c√≥digo y as√≠ realizar todas las maniobras
requeridas.
La librer√≠a que se utiliz√≥ mas en este c√≥digo fue pandas que es utilizada para la manipulaci√≥n
de datos. Y puesto el c√≥digo de √©sta practica consiste en manejar la informaci√≥n contenida
en un archivo de datos entonces pandas es una pieza fundamental en este programa.
Luego entonces el programa consiste en manejar los datos del servicio meteorol√≥gico nacio-
nal, las variables que se manejaron son fecha, temperatura, precipitaci√≥n, sus promedios, sus
m√°ximos y m√≠nimos.
Otra de las librer√≠as fue necesario importar es numpy que tiene la funci√≥n de organizar los
arreglos como matrices, otra de las cosas que hace numpy es integrar herramientas de c√≥digo
c,c++ y fortran, adem√°s permite utilizar transformadas de fourier, √°lgebra lineal y numeros
aleatorios. Otra herramienta utilizada es la librer√≠a matplotlib, que tiene la funci√≥n de ela-
borar las gr√°ficas.
Antes de empezar a trabajar con el c√≥digo fu√© necesario descargar el archivo con se trabaja,
esto lo ejecute con funci√≥n read csv.
Las funciones mas utilizadas son: df.head() encabezado
df.tail() final
df.dtypes() tipos de variables
df,means() promedio
df.std() desviaci√≥n estandar
df.median() mediana
df.max() m√°ximo
df.min() m√≠nimo
df.describe() resumen estadistico
df.index() indice
df.columns() columnas
df.drop() elimar renglones
12.
Cuestionario
1.- la forma de determinar los d√≠as m√°s lluviosos es creando un arreglo donde se calculan
las precipitaciones, esto se hace con loops. aqu√≠ se utiliza la funci√≥n (for).
2.- Los meses mas lluviosos y m√°s c√°lidos son el mes siete.
3.-Los a√±os h√∫medos son: 1983,1984,...hasta 1997.
4.-Inviernos m‚Äôas frios: 1974, 2011
5.- Los a√±os m√°s secos 2011
6.-Veranos m√°s c√°lidos
7.-La temperatura mensual en los ultimos a√±os se observa muy cambiante pero se advierte
un ligero aumento.en la temperatura.
8.- Las precipitaciones en los ultimo 20 a√±os observan un ligero descenso.
3.
Conclusiones
En la elaboraci√≥n de esta actividad me encontr√© con algunas dificultades, primero para
bajar el archivo de inicio lo baje en un editor de texto y al querer hacer las modificaciones que
se necesita hacer en el c√≥digo no se ejecutaban, despu√©s de varios intentos y lograr establecer
el archivo por fin logre realizar los primeros pasos del programa.
Otra de las dificultades que encontr√© es al intentar cambiar la variable fecha y no se ejecutaba
pues no estaba utilizando el comando adecuado, en esta parte es donde m√°s tiempo perd√≠
para finalmente finalizar la actividad.
2